h1 {
  color: #150822;
}

.selected {
  color: #4b717f;
}

ul {
  display: none;
}

.selected ul {
  display: block;
}

body {
  background-image: url(../../resources/images/cd.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
